<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta content="text/html;charset=utf8" http-equiv="content-type"/>
</head>
<body>
<h3>${title}</h3>
<table border="1">
    <thead>
    <tr>
        <th>订单ID</th>
        <th>订单类型</th>
        <th>确认时间(UTC)</th>
        <th>订单SN</th>
        <th>产品图片</th>
        <th>单价($)</th>
        <th>数量</th>
    </tr>
    </thead>
    <tbody>
    <#list orders as order>
    <tr>
        <td>${order.id!''}</td>
        <td>${order.type!''}</td>
        <td>${(order.confirmTime)?string("yyyy-MM-dd HH:mm:ss")}</td>
        <td>${order.sn!''}</td>
        <td><img src="${order.imageUrl}"/></td>
        <td>${order.price!''}</td>
        <td>${order.num!''}</td>
    </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
